{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
	  "experimentalObjectRestSpread": true,
      "jsx": true
    }
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
  }
}
