{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
	  "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": [
    "react"
  ],
  "settings": {
    "react": {
      "pragma": "h",
      "pragmaFrag": "Fragment"
    }
  },
  "rules": {
	"react/jsx-fragments": "error",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error"
  }
}
