@import 'parts/reset';

$board-width: 3;
$board-height: 8;

* {
	box-sizing: border-box;
}

html, body, #root {
	width: 100%;
	height: 100%;
}

html {
	font-size: (1/10) * 10vh;

	@media screen and (min-height:1000px) {
		font-size: 10px;
	}
}

body {
	font-family: 'Helvetica Neue', sans-serif;
}

#wtf {
	position: absolute;
	z-index: 10;
	top: 5rem;
	left: 50%;
	width: 8em;
	margin: -1em 0 0 -4em;
	padding: 10px;
	border-radius: 20px;
	font-size: 20px;
	line-height: 1em;
	text-align: center;
	text-decoration: none;
	background: black;
	color: white;
}

.start {
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 100px;
	background: purple;
	color: white;
	font-size: 30px;
	border-radius: 50%;
	margin: -50px 0 0 -50px;
}

.ur-game {
	position: relative;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	pointer-events: none;
	transition: opacity .5s ease-out;

	&.is-ready {
		opacity: 1;
		pointer-events: all;
	}
}

.ur-board {
	position: absolute;
}
	.ur-square {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		font-size: 10rem;
		background: linear-gradient(to bottom right, lighten(indigo, 40), lighten(indigo, 50));

		&.is-safe {
			&:before {
				content: '\2726';
				color: gold;
			}
		}
		&.is-double {
			&:before {
				content: '\2742';
			}
		}
	}

.ur-player {
	position: absolute;
	top: 0;
	width: 10rem;
	height: 100%;
	padding: 10rem 0 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	opacity: 0.3;
	pointer-events: none;
	transition: opacity .5s ease-out;

	&.is-ready {
		opacity: 1;
		pointer-events: all;
	}

	&.left {
		left: 0;
		background: lighten(blue, 30);

		button {
			background: darken(blue, 10);
		}
	}
	&.right {
		right: 0;
		background: lighten(red, 30);

		button {
			background: darken(red, 10);
		}
	}
}
	.roll {
		position: absolute;
		top: 0;
		left: 0;
		width: 10rem;
		height: 10rem;
		background: black;
		color: white;
		font-size: 5rem;

		&:empty {
			font-size: 3rem;

			&:before {
				content: 'Roll';
				text-transform: uppercase;
			}
		}
	}

.ur-token {
	position: absolute;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid white;
	color: #fff;
	font-size: 6rem;
	transition: all .5s ease-out;
	transform: scale(0.8);

	&.left {
		background: blue;
	}
	&.right {
		background: red;
	}

	&.is-invalid {
		border-color: rgba(#fff, .5);
		pointer-events: none;

		&.left {
			background: mix(blue, white);
		}
		&.right {
			background: mix(red, white);
		}
	}

	&.is-complete {
		&:before {
			content: '\2726';
			color: gold;
		}
	}
}
